@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}



.data__arrow{
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 30px;
  right: -20px;
}
.data__arrow p {
  position: absolute;
  top: 30px;
  right: -20px;
  font-family: 'Rock Salt', cursive;
  /* margin:0; */
/* margin-top: 40px;
margin-left: 40px; */
}
.data__arrow svg {
  /* margin-bottom: 0px; */
  fill: #fff;
  transform: rotateX(180deg) rotateZ(180deg);


}